<div class="form-message-box">
    <div class="row">
        {{ form_start(form) }}
        <table>
            <tbody>
            <tr>
                <td class="message-txt-area">{{ form_widget(form.content, {'attr': {'placeholder': "Contenu du message"}}) }} </td>
                <td class="vertical-align-top">{{ form_widget(form.save) }}</td>
            </tr>
            </tbody>
        </table>
        {{ form_end(form) }}
    </div>
</div>