<div class="container">
    <h3>creer un message</h3>
    <div class="row">
        {{ form_start(form) }}
        <table>
            <tbody>
            <tr>
                <th>Message:</th>
                <td>{{ form_widget(form.content, {'attr': {'placeholder': "Contenu du message"}}) }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ form_widget(form.save) }}</td>
            </tr>
            </tbody>
        </table>
        {{ form_end(form) }}
    </div>
</div>