.layout-wrapper {
  height: 100%;
  padding-bottom: 3rem;
}

.content-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid red;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

/* Figure */
.header-figure {
  z-index: 20;
  width: 100%;
  height: 300px;
  text-align: center;
  position: relative;
  border: 1px solid red;
  background-size: cover;
}

.figures-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.figure-box {
  flex-grow: 1;
  height: 200px;
  max-width: calc(20% - 22px);
  width: calc(20% - 22px);
  border: 1px solid #212529;
  border-radius: 4px;
  margin: 10px;
}

.figure-background {
  height: 70%;
}

.figure-background img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 4px 4px 0px 0px;
}

.figure-content {
  background-color: #FFFFFF;
  height: 30%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
}

.figure-content img {
  width: 20px;
  height: 20px;
}

.figure-title {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.figure-title a {
  color: #212529;
}

.figure-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 8%;
  height: 40px;
  z-index: 40;
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
}

.figure-link {
  width: 20%;
}

.figure-link img {
  vertical-align: middle;
}

.medias-box {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid yellow;
}

.media-container {
  width: 200px;
  height: 150px;
  padding: 5px;
}

.media-container:first-child {
  padding-left: 15px;
}

.media-container img, video {
  width: 200px;
  height: 150px;
}

.figure-details {
  width: 90%;
  margin: 0 auto;
}

.figure-description {
  margin-top: 40px;
  margin-bottom: 40px
}

.info-list {
  display: inline-block;
}

.info-list li {
  border: 1px solid #212529;
  padding: 5px;
  margin: 10px;
  margin-bottom: 30px;
}

.messages {
  padding-left: 30px;
  padding-top: 20px;
}

.user-profil {
  display: flex;
  align-items: top;
  padding: 10px;
  padding-left: 0px;
}

.user-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-data {
  padding-left: 20px;
}

.message-box {
  padding-top: 20px;
  padding-bottom: 20px;
}

.message-content {
  border: 1px solid #212529;
  border-radius: 4px;
  background-color: #f5f6fa;
  width: 95%;
  text-align: left;
}

.message-content p {
  padding: 10px;
}

.message-container {
  width: 70%;
  margin: 0 auto;
  border-top: 1px solid #212529;
}

.new-message-box {
  text-align: -webkit-center;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #212529;
}

.message-txt-area textarea {
  width: 300px;
}

.message-delete {
  width: 16px;
}

.message {
  display: flex;
}
/* Figure End */

.form-message-box button {
  padding: 9px;
}


/* Form */

.form-container {
  border: 1px solid #e1e2e6;
  border-radius: 2px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.form-container label {
  font-size: 22px;
}

.form-container input {
  font-size: 20px;
  padding: 8px 16px;
  border: 1px solid #e1e2e6;
  border-radius: 4px;
}

.btn {
  font-weight: 700;
  padding: 8px 24px;
  margin: 8px;
  border-radius: 4px;
  border: 1px solid #212529;
}

.btn:hover {
  cursor: pointer;
}

.green-success {
  background-color: #6ba667;
  border-color: #6ba667;
  color: #eaf4ea;
}

.green-success:hover {
  background-color: #eaf4ea;
  border-color: #eaf4ea;
  color: #6ba667;
}

.row {
  width: 80%;
  margin: 8px auto;
}

/* Form End */

.profil_picture {
  height: 250px;
  width: 250px;
  object-fit: contain;
  border: 1px solid green;
}

.header-profil {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.inline-block {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}