.layout-wrapper {
  height: 100%;
  padding-bottom: 3rem;
}

.content-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid red;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

/* Figure */
.figures-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.figure-box {
  flex-grow: 1;
  height: 200px;
  max-width: calc(20% - 22px);
  width: calc(20% - 22px);
  border: 1px solid #212529;
  border-radius: 4px;
  margin: 10px;
}

.figure-background {
  height: 70%;
}

.figure-background img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 4px 4px 0px 0px;
}

.figure-content {
  background-color: #FFFFFF;
  height: 30%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
}

.figure-content img {
  width: 20px;
  height: 20px;
}

.figure-title {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.figure-title a {
  color: #212529;
}

.figure-link {
  width: 20%;
}
/* Figure End */

/* Form */

.form-container {
  border: 1px solid #e1e2e6;
  border-radius: 2px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.form-container label {
  font-size: 22px;
}

.form-container input {
  font-size: 20px;
  padding: 8px 16px;
  border: 1px solid #e1e2e6;
  border-radius: 4px;
}

.btn {
  font-weight: 700;
  padding: 8px 24px;
  margin: 8px;
  border-radius: 4px;
  border: 1px solid #212529;
}

.btn:hover {
  cursor: pointer;
}

.green-success {
  background-color: #6ba667;
  border-color: #6ba667;
  color: #eaf4ea;
}

.green-success:hover {
  background-color: #eaf4ea;
  border-color: #eaf4ea;
  color: #6ba667;
}

.row {
  width: 80%;
  margin: 8px auto;
}

/* Form End */