/* Font */
.font-weight-500 {
  font-weight: 500;
}

.font-size--small {
  font-size: 14px;
}
/* Font End */

.relative {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Padding */
.pd-xs {
  padding: 5px;
}

.pd-s {
  padding: 10px;
}
/* Padding End */

/* Margin */
.mg-top-xl {
  margin-top: 40px;
} 

.mg-top-xs {
  margin-top: 30px;
}

.mg-top-l {
  margin-top: 20px;
}

.mg-bottom-xl {
  margin-bottom: 40px;
}
/* Margin End */

.width-80 {
  width: 80%;
}