#banner {
  object-fit: cover;
  width: 100%;
  height: 93vh;
  position: relative;
}

.anchor {
  position: absolute;
}

.anchor img {
  width: 25px;
}

.--to_up {
  bottom: 60px;
  right: 20px;
}

.--to_down {
  bottom: 30px;
  right: 20px;
}

.arrow-inversed {
  transform:rotate(180deg);
}