html,
body {
  font-size: 15px;
  line-height: 1.6;
  background-color: #94B1E2;
  color: #212529;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

ul { 
  margin: 0;
  padding: 0;
} 

li {
  list-style: none;
}