{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="content-container">
  <h1 class="mg-top-xl mg-bottom-xl">Profil : {{ user.fullname }} </h1>
  <div class="example-wrapper">
    <div>
      <img src="" alt="">
    </div>
    <p>username : {{ user.username }}</p>
    <p>email : {{ user.email }}</p>
    <img src="{{ user.photo }}" alt="photo de profil">
  </div>
</div>
{% endblock %}


